In [1]:
from src.features_generation import feature_engineering

In [2]:
X, y, X_sub, sample_submission = feature_engineering()

In [3]:
X.fillna(-999, inplace=True)

In [4]:
from sklearn import svm
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets

In [5]:
y.value_counts()

0    569877
1     20663
Name: isFraud, dtype: int64

In [6]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=42)
X_sm, y_sm = smote.fit_sample(X, y)

In [7]:
y_sm.value_counts()

1    569877
0    569877
Name: isFraud, dtype: int64

In [8]:
#from tensorflow.keras.utils import to_categorical

In [9]:
#y_cat = to_categorical(y_sm)
#arg 0: true
#arg 1: fraud

In [10]:
#y_cat[:5]

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.]], dtype=float32)

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_sm, y_sm, test_size=0.3, random_state=42)

In [39]:
y_train

300864     0
1115409    1
577750     1
427996     0
496447     0
          ..
110268     0
259178     0
131932     0
671155     1
121958     1
Name: isFraud, Length: 797827, dtype: int64

In [40]:
X_train

,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,...,OS_id_30,version_id_30,browser_id_31,version_id_31,screen_width,screen_height,P_emaildomain_bin,P_emaildomain_suffix,R_emaildomain_bin,R_emaildomain_suffix
300864,77.95000,4,10856,268.000000,150.000000,4,166.000000,2,264.0,87.0,...,6,49,31,43,247,216,4,0,6,6
1115409,31.76760,0,15310,-721.251305,158.080802,4,205.682556,1,-999.0,-999.0,...,6,49,17,28,247,216,6,0,6,0
577750,30.00000,3,9359,-999.000000,150.000000,4,226.000000,2,330.0,87.0,...,3,0,17,31,102,16,6,6,4,0
427996,250.00000,2,9582,399.000000,150.000000,0,118.000000,1,325.0,87.0,...,0,40,17,30,123,17,4,0,0,0
496447,188.00000,4,17205,490.000000,150.000000,4,226.000000,1,315.0,87.0,...,6,49,31,43,247,216,5,0,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110268,25.00000,1,16796,555.000000,210.000000,4,137.000000,2,296.0,102.0,...,3,35,17,28,41,161,5,0,4,0
259178,357.95000,4,16727,111.000000,150.000000,4,226.000000,1,325.0,87.0,...,6,49,31,43,247,216,4,0,6,6
131932,59.00000,4,9500,321.000000,150.000000,4,226.000000,2,204.0,87.0,...,6,49,31,43,247,216,9,0,6,6
671155,51.98729,4,15066,170.000000,150.000000,2,102.000000,1,126.0,87.0,...,6,49,31,43,247,216,0,0,6,6
121958,44.00000,4,10616,583.000000,150.000000,4,226.000000,1,325.0,87.0,...,6,49,31,43,247,216,5,0,6,6

In [43]:
X_train['y_train'] = y_train

<ipython-input-43-7a0d0ab398b8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['y_train'] = y_train

In [44]:
X_train

,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,...,version_id_30,browser_id_31,version_id_31,screen_width,screen_height,P_emaildomain_bin,P_emaildomain_suffix,R_emaildomain_bin,R_emaildomain_suffix,y_train
300864,77.95000,4,10856,268.000000,150.000000,4,166.000000,2,264.0,87.0,...,49,31,43,247,216,4,0,6,6,0
1115409,31.76760,0,15310,-721.251305,158.080802,4,205.682556,1,-999.0,-999.0,...,49,17,28,247,216,6,0,6,0,1
577750,30.00000,3,9359,-999.000000,150.000000,4,226.000000,2,330.0,87.0,...,0,17,31,102,16,6,6,4,0,1
427996,250.00000,2,9582,399.000000,150.000000,0,118.000000,1,325.0,87.0,...,40,17,30,123,17,4,0,0,0,0
496447,188.00000,4,17205,490.000000,150.000000,4,226.000000,1,315.0,87.0,...,49,31,43,247,216,5,0,6,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110268,25.00000,1,16796,555.000000,210.000000,4,137.000000,2,296.0,102.0,...,35,17,28,41,161,5,0,4,0,0
259178,357.95000,4,16727,111.000000,150.000000,4,226.000000,1,325.0,87.0,...,49,31,43,247,216,4,0,6,6,0
131932,59.00000,4,9500,321.000000,150.000000,4,226.000000,2,204.0,87.0,...,49,31,43,247,216,9,0,6,6,0
671155,51.98729,4,15066,170.000000,150.000000,2,102.000000,1,126.0,87.0,...,49,31,43,247,216,0,0,6,6,1
121958,44.00000,4,10616,583.000000,150.000000,4,226.000000,1,325.0,87.0,...,49,31,43,247,216,5,0,6,6,1

In [45]:
X_train = X_train.sample(frac=1).reset_index(drop=True)

In [46]:
X_train

,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,...,version_id_30,browser_id_31,version_id_31,screen_width,screen_height,P_emaildomain_bin,P_emaildomain_suffix,R_emaildomain_bin,R_emaildomain_suffix,y_train
0,107.950000,4,12686,215.000000,150.000000,4,226.000000,2,264.000000,87.0,...,49,31,43,247,216,9,0,6,6,0
1,100.000000,2,8830,250.000000,150.000000,4,226.000000,1,441.000000,87.0,...,49,31,43,247,216,7,0,7,0,0
2,25.000000,1,12598,111.000000,150.000000,4,166.000000,2,-999.000000,-999.0,...,46,17,28,30,168,4,0,4,0,0
3,29.996062,4,9500,321.000000,150.000000,4,226.000000,2,231.000000,87.0,...,49,31,43,247,216,9,0,6,6,1
4,336.347102,4,13989,536.847068,150.000000,4,188.432231,1,378.558598,87.0,...,49,31,43,247,216,7,4,6,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797822,12.089892,0,9636,302.373749,184.222714,4,139.954320,1,-999.000000,-999.0,...,49,17,40,247,216,4,0,4,0,1
797823,13.234380,0,5293,444.448323,185.000000,2,222.019113,1,-999.000000,-999.0,...,49,24,42,247,216,5,0,5,0,1
797824,26.619142,1,12897,363.512909,150.000000,4,226.000000,2,204.777188,87.0,...,15,29,43,123,33,4,0,4,0,1
797825,323.000000,4,17868,148.000000,150.000000,4,226.000000,2,472.000000,87.0,...,49,31,43,247,216,6,6,6,6,0
797826,65.282442,2,10009,321.000000,150.000000,4,216.885369,2,312.946820,87.0,...,14,30,44,33,154,5,4,4,0,1

In [71]:
X_train_sub1 = X_train.iloc[list(range(3000))]

In [72]:
y_train_sub1 = X_train_sub1['y_train']
y_train_sub1

0       0
1       0
2       0
3       1
4       1
       ..
2995    0
2996    1
2997    1
2998    0
2999    0
Name: y_train, Length: 3000, dtype: int64

In [73]:
X_train_sub1.drop(columns=['y_train'], inplace=True)
X_train_sub1

C:\Users\chinh\anaconda3\lib\site-packages\pandas\core\frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,...,OS_id_30,version_id_30,browser_id_31,version_id_31,screen_width,screen_height,P_emaildomain_bin,P_emaildomain_suffix,R_emaildomain_bin,R_emaildomain_suffix
0,107.950000,4,12686,215.000000,150.0,4,226.000000,2,264.000000,87.0,...,6,49,31,43,247,216,9,0,6,6
1,100.000000,2,8830,250.000000,150.0,4,226.000000,1,441.000000,87.0,...,6,49,31,43,247,216,7,0,7,0
2,25.000000,1,12598,111.000000,150.0,4,166.000000,2,-999.000000,-999.0,...,2,46,17,28,30,168,4,0,4,0
3,29.996062,4,9500,321.000000,150.0,4,226.000000,2,231.000000,87.0,...,6,49,31,43,247,216,9,0,6,6
4,336.347102,4,13989,536.847068,150.0,4,188.432231,1,378.558598,87.0,...,6,49,31,43,247,216,7,4,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,68.950000,4,16132,111.000000,150.0,4,226.000000,2,299.000000,87.0,...,6,49,31,43,247,216,4,0,6,6
2996,164.703820,4,4897,331.865272,150.0,2,139.876121,2,238.407640,87.0,...,6,49,31,43,247,216,4,0,6,6
2997,30.145936,0,10533,200.761820,185.0,4,221.403874,1,-999.000000,-999.0,...,6,49,29,43,247,216,4,0,4,0
2998,100.000000,2,13844,583.000000,150.0,4,226.000000,1,325.000000,87.0,...,5,16,30,44,122,31,4,0,4,0
2999,107.950000,4,8320,476.000000,150.0,4,166.000000,2,315.000000,87.0,...,6,49,31,43,247,216,6,6,6,6

In [74]:
#Radial Basis Function
clf=svm.SVC(kernel='rbf',C=1,gamma='auto')
clf.fit(X_train_sub1,y_train_sub1)

SVC(C=1, gamma='auto')

In [68]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [75]:
y_pred = clf.predict(X_test)

In [76]:
accuracy_score(y_test, y_pred)

0.5013789493078932

In [77]:
f1_score(y_test, y_pred)

0.6672287933793967